# Ignore prototype classes
C:/Users/josep/Desktop/Step Seq/backupfiles/

# Ignore compiled files
*.class

# Ignore IDE settings
.idea/
*.iml

# Ignore virtual environments or Python cache
__pycache__/
*.pyc